html, body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
  color: #d4e8eb;
}

.addButton, .saveButton, .deleteButton {
  background-color: #d4e8eb;
  font-family: monospace;
}

.newFile {
  background-color: #d4e8eb;
}

.leftPanel {
  width: 20%;
  height: 100%;
  padding: 2%;
  margin: 0px;
  background-color: #333333;
}

.mainBody{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
