html, body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
  color: #d4e8eb;
}

.addButton, .saveButton, .deleteButton {
  background-color: #d4e8eb;
  font-family: monospace;
}

.newFile {
  background-color: #d4e8eb;
}

.leftPanel {
  width: 20%;
  height: 100%;
  padding-top: 3%;
  padding-left: 2%;
  margin: 0px;
  background-color: #333333;
}

.mainBody{
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.topPanel {
  width: 75%;
  height: 100%;
  background-color: #282829;
  padding-left: 2%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
